{{#each items}}
    <li class="filter-friend js-friend" data-friend='{"name":"{{first_name}}", "lastName":"{{last_name}}"}' data-id="{{id}}" draggable="true">
        <div class="filter-friend__ava">
            <img class="filter-friend__image" src="{{photo_100}}" alt="">
        </div>
        <div class="filter-friend__name">{{first_name}} {{last_name}}</div>
        <div class="filter-friend__button js-friend-button">
            <svg class="filter-friend__button-icon">
                <use class="filter-friend__button-svg" xlink:href="#cross" x="0" y="0"/>
            </svg>
        </div>
    </li>
{{/each}}

